body{
    background-color: rgb(34, 32, 32)
}
h1{
    color: rgb(252, 252, 252);
}
label{
    color: rgb(255, 255, 255);
}
input[type=text]{
    font-size: 20px;
    background-color: bisque;
}
.botao{
    background-color:aquamarine ;
    border: 2px;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 2px 2px;
}
.botao:houver{
    background-color: brown;
    transform: scale(1,3);
}
