body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(96, 96, 96);
}
h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(0, 255, 195);
}
h3{
    text-align: center;
}
.paragrafo{
    color: rgb(94, 252, 255);
    font-size: 20px;
    text-align: justify;
}