body{
    background-color: rgb(255, 255, 255)
}
h1{
    color: rgb(0, 0, 0);
    font-style:italic;
    font-weight: ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
label{
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
input[type=text]{
    font-size: 15px;
    background-color: rgb(210, 210, 211);
}
.botao{
    background-color:rgb(23, 156, 213) ;
    border: 2px;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 2px 2px;
}
