body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao{
    background-color: gray;
    color: black;
    padding: 9px 15px;
    margin: 2px 2px;
    cursor: pointer;
    margin-top: 2%;
}
.botao:hover{
    background-color: #000;
    transform: scale(1.1);
    color: aliceblue;
}
.tela-login{
    width: 50%;
    height: 250px;
    background-color: gainsboro;
    margin-left: 25%;
}
.titulo-login{
    padding-top: 2%;
    font-size: 22px;
    text-align: center;
    text-shadow: gray 2px 2px 2px;
}
label{
    padding-left: 5%;
    display: block;
    clear: left;
}
input{
    padding-top: 2%;
    margin-top: 2%;
    font-size: 20px;
}
@media screen and (max-width:900px) {
    .tela-login{
        width: 100%;
        height: 350px;
        margin-left: 0%;;
    }
}
